.btn {
  display: inline-block;
  padding: 25px 55px;

  color: $color-default-white;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-1365 {
    padding: 21px 32px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
