.faq {
  background-color: #f8f9fc;
}

.faq__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;

  h2 {
    margin: 0 0 51px;

    font-family: $ff-alumni;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
  }
}

.faq__container {
  display: flex;
  column-gap: 2.9vw;
}

.faq__controls {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 10px;

  flex-basis: 19vw;
  padding: 0;
  margin: 0;

  list-style: none;
}

.faq__controls-item {
  flex-basis: 100%;
}

.faq__control {
  width: 100%;
  padding: 18px 48px;

  border: none;
  outline: 1px solid rgba(16, 38, 84, 0.20);

  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: $color-text-default;

  background-color: transparent;
  cursor: pointer;

  &.is-active {
    background-image: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
    outline: transparent;

    color: $color-default-white;
  }
}

.faq__content-list {
  flex-basis: 63vw;
  margin: 0;
  padding: 0;

  list-style: none;
}
